// .about-section {
//   display: flex;
//   justify-content: space-between;
//   height: 840px;

//   .left-side {
//     text-align: center;
//     background-color: #c98a40;
//     position: relative;
//     width: 1214px;
//     .content {
//       position: absolute;
//       left: 50%;
//       transform: translateX(-50%);
//       width: 508px;
//       text-align: start;
//       .contactus {
//         background-color: #fdba10;
//         color: white;
//         padding: 12px 24px;
//         border: none;
//         border-radius: 50px;
//         font-weight: bold;
//         cursor: pointer;
//       }
//     }
//     .over-lay {
//       position: absolute;
//       right: -550px;
//       top: 50%;
//       transform: translateY(-50%);
//     }
//   }
// }

// New code

.about-section {
  box-sizing: border-box;
  overflow: hidden;
  border-top: wheat solid 1px;
  // padding-block: 25px;
  background-color: #c98a40;

  .left-side {
    text-align: center;
    background-color: #c98a40;
    position: relative;

    .content {
      width: 100%;
      text-align: center;

      h2 {
        padding-block: 15px;
        font-size: 50px;
        font-weight: 700;
        line-height: 96%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: white;
      }

      .over-lay {
        margin-block: 15px;
        // display: block;
        img {
          max-width: 95%;
        }
      }

      p {
        font-family: poppins, sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: white;
        line-height: 26px;
        letter-spacing: 0%;
      }

      .contactus {
        background-color: #fdba10;
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 50px;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 15px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .about-section {
    border-top: unset;

    text-align: center;
    height: 800px;
    background-color: white;
    .left-side {
      width: 70%;
      height: 100%;
      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: left;

        h2 {
          text-align: left;
          width: 508px;
          height: 276px;
          font-family: senserif, sans-serif;
          font-weight: 800;
          font-size: 144px;
          line-height: 96%;
          letter-spacing: 0%;
          text-transform: uppercase;
        }
        p {
          width: 508px;
          height: 312px;
          font-family: poppins, sans-serif;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0%;
        }
        .contactus {
          width: 195px;
          height: 60px;
          background-color: #fdba10;
          color: white;
          padding: 12px 24px;
          border: none;
          border-radius: 30px;
          font-weight: bold;
          cursor: pointer;
          margin-bottom: 15px;
        }
      }
    }
  }
  .over-lay {
    position: absolute;
    right: -500px;
    top: 50%;
    transform: translateY(-50%);
  }
}
