.testimonial-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  background: url("/assets/images/testymonials.png") repeat;
  background-color: #c98a40;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .section-title {
    max-width: 95%;
    height: 100px;
    font-family: senserif, sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 96%;
    text-transform: uppercase;
    padding-block: 25px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-inline: 300px;
    margin-block: 40px;
  }

  .testimonial-card {
    background-color: rgba(255, 255, 255, 0.1);
    flex: 0 0 calc(50% - 10px);
    border-radius: 12px;
    height: 192px;
    padding: 20px;
    text-align: left;
    background-color: white;

    h3 {
      width: 325px;
      height: 24px;
      font-family: Poppins, sans-serif;
      font-weight: 900;
      size: 16px;
      line-height: 24px;
      color: #c98a40;
    }

    .text {
      width: 412px;
      height: 80px;
      font-family: Poppins, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
    }

    .stars {
      color: #c98a40;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .name {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }

  .contact-btn {
    width: 195px;
    height: 60px;
    background-color: #fdba10;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;

    &:hover {
      background-color: #ffa500;
    }
  }
}

@media (min-width: 1200px) {
  .testimonial-section {
    .section-title {
      height: 138px;
      font-family: senserif, sans-serif;
      font-weight: 800;
      font-size: 144px;
      line-height: 96%;
      text-transform: uppercase;
      padding-block: 25px;
    }
  }
}
